name: First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Print Gretting
        run: echo "Hello GitHub Action"
      - name: Print Goodbye
        run: echo "Job Completed - Goodbye"
    
